<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

<main>
    <head>
        <title>Please Log In</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
    <h1>Please Log In</h1>
    <div class="detMod">
        <div th:if="${param.error}" class="error-message">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="logout-message">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <ul>
                <li>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" />
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" />
                </li>
                <li>
                    <button type="submit">Connexion</button>
                </li>
            </ul>
        </form>
    </div>
    </body>
</main>
</html>