<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

<title data-th-text="${chat.name}"></title>


<main>
    <div class="detMod">

<form data-th-object="${chat}" method="post" data-th-action="@{/modifier(id=${chat.id})}">
    <h1>Modification du chat</h1>
    <ul class="flex-outer">
        <li>
            <label for="inputName"> Nom : </label>
            <input type="text" id="inputName" data-th-field="*{name}"/>
        </li>
        <li>
            <label for="inputColor"> Couleur : </label>
            <input type="text" id="inputColor" data-th-field="*{color}"/>
        </li>

    </ul>
    <button type="submit">Modifier</button>
</form>
    </div>
</main>
</html>